@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: url(../background/slovenia-1975396_960_720.jpg) no-repeat;
    background-size: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: url(../background/slovenia-1975396_960_720.jpg) no-repeat;
    background-size: cover;
}
.logo{
    font-size: 2rem;
    color: #fff;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.mainContent{
    text-align: center;
    color: #fff;
    margin: 20px;
    height: 150px;
}
.content , .content1 , .content2{
    text-align: center;
    color: #fff;
    margin: 20px;
}
.container .content1{
    padding-bottom: 20px;
}
.container .content2{
    padding-top: 50px;
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    text-decoration: none;
    position: absolute;
    
}
.fa-instagram{
    left: 47%;
}

.fa-instagram:hover{color: rgb(225, 0, 191);}
.form-box h2{
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}
.form-box h3{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}
.wrapper{
    position: relative;
    width: 1100px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
}