@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../background/slovenia-1975396_960_720.jpg) no-repeat;
    background-size: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 200px;
    align-items: center;
    z-index: 99;
    background: rgb(62 41 141);
    background-size: cover;
}
.mainContent{
    text-align: center;
    color: #fff;
    margin: 20px;
    height: 150px;
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    text-decoration: none;
    position: absolute;
}
.fa-instagram{
    left: 47%;
}
.fa-instagram:hover{color: rgb(225, 0, 191);}
.form-box h2{
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}
.form-box h3{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}
.wrapper{
    position: relative;
    width: 900px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  screen and (max-width: 1023px) {
    header {
        padding: 8px 20px;
    }
    nav .logo{
        font-size: 1.8rem;
        padding-right: 150px;
    }
    .wrapper{
        width: 600px;
        height: 200px;
    }
    .form-box h2{
        font-size: 0.8rem;
    }
    .form-box h3{
        font-size: 0.6rem;
    }
    .social-icons a{
        font-size: 0.9rem;
    }
    .navigation{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(62 41 141);
        display: none;
    }
    .navigation .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .openMenu{
        display: block;
    }

}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 30px;
    background-color: rgb(62 41 141);
    display: flex;
    justify-content: center;
    color: #fff;
}





nav{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover{
    background: none;
    color: rgb(225, 0, 191);
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu, .icons a{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #fff;
}
.fa-facebook:hover{color: rgb(0, 110, 225);}
.fa-instagram:hover{color: rgb(225, 0, 191);}
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor:pointer;
}
@media(max-width: 800px){
    nav .logo{
        font-size: 1rem;
        padding-right: 230px;
    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(62 41 141);
        background-attachment: scroll;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: rgb(225, 0, 191);
        font-size: 1.6rem;
    }
    .icons a{
        display: inline-block;
        padding: 12px;
        text-decoration: none;
    }
}