@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: url(../background/slovenia-1975396_960_720.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: url(../background/slovenia-1975396_960_720.jpg) no-repeat;
    background-size: cover;
}
.logo{
    font-size: 2rem;
    color: #fff;
    user-select: none;
}
.navigation .navigation1{
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .navigation1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4cm;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #fd3c71;
    font-size: 2em;
    font-weight: 600;
}
.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color: #dd3a82;;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.fa-instagram:hover{color: rgb(225, 0, 191);}
.fa-facebook:hover{color: rgb(0, 110, 225);}
.containe{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section {
    padding: 4rem 0 3rem;
}
img{
    width: 100%;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s;
    height: 100px;
    width: 27%;
    overflow: hidden;
    overflow-y: scroll;
}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.shop{
    margin-top: 2rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 1.5rem;
    margin-left: 70px;
    margin-right: 70px;
}
.product-box{
    position: relative;
    margin: 50px;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid #171427;
    transition: 0.4s;
}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
      
}
.price{
    font-weight: 500;
}
.color{
    padding: 6px;
    margin: 3px;
    display: flex;
}
.color div{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid black;

}
.black{
    background: black;
}
.white{
    background: white;
}
.beg{
    background: bisque;
}
@media (max-width: 1080px) {
    .nav{
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}
@media (max-width:400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 320px;
    }
}
@media (max-width:360px){
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width: 280px;
    }
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fd3c71;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    margin-left: 100px;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.form-box h3{
    font-size: 1em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid  #fff;;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    header {
      padding: 20px;
    }
    .navigation {
      flex-direction: column;
      align-items: center;
    }
    .navigation a {
      margin: 10px 0;
    }
  }
  .navigation .btnLogin-popup{
    width: 170px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-decoration: none;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
    text-decoration: none;
}
.product-img{
    min-height: 79%;
}
.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 30px;
    background-color: #e799c9;
    display: flex;
    justify-content: center;
    color: #fff;
}