@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: url(../background/pexels-pixabay-414727.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 200px;
    align-items: center;
    z-index: 99;
    background: rgb(138 107 255);
    background-size: cover;
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(138 107 255);
    font-size: 4em;
    font-weight: 600;
}
.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color: rgb(138 107 255);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.fa-instagram:hover{color: rgb(225, 0, 191);}
.fa-facebook:hover{color: rgb(0, 110, 225);}
.containe{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section {
    padding: 4rem 0 3rem;
}
img{
    width: 100%;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s;
    height: 100px;
    width: 27%;
    overflow: hidden;
    overflow-y: scroll;
}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.shop{
    margin-top: 2rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 1.5rem;
    margin-left: 100px;
    margin-right: 100px;
}
.product-box{
    position: relative;
    margin: 5px;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid #171427;
    transition: 0.4s;
}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 500;
}
.color{
    padding: 6px;
    margin: 3px;
    display: flex;
}
.color div{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid black;

}
.black{
    background: black;
}
.white{
    background: white;
}
.beg{
    background: bisque;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(138 107 255);
}

.product-img{
    min-height: 74%;
}
.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 30px;
    background-color: rgb(138 107 255);
    display: flex;
    justify-content: center;
    color: #fff;
}
@media  screen and (max-width: 1023px) {
    header {
        padding: 8px 20px;
    }
    nav .logo{
        font-size: 1.8rem;
    }
    .main h2{
    font-size: 1.6em;
    }
    .main h2 span{
        font-size: 2em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .social-icons a{
        font-size: 1em;
    }
    .section-title{
        font-size: 1.2rem;
    }
    .shop-content{
        gap: 0.5rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navigation .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .openMenu{
        display: block;
    }
}




nav{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover{
    background: none;
    color: rgb(225, 0, 191);
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu, .icons a{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #fff;
}
.fa-facebook:hover{color: rgb(0, 110, 225);}
.fa-instagram:hover{color: rgb(225, 0, 191);}
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor:pointer;
}
@media  screen and (max-width: 800px){
    nav .logo{
        font-size: 1rem;
    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(138 107 255);
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: rgb(225, 0, 191);
        font-size: 1.6rem;
    }
    .icons a{
        display: inline-block;
        padding: 12px;
        text-decoration: none;
    }
    .main h2{
        font-size: 1.25em;
    }
    .main h2 span{
        font-size: 1.9em;
    }
    .main h3{
        font-size: 1.2em;
    }
    .social-icons a{
        font-size: 1.3em;
        padding-left: 20px;
    }
    .section-title{
        font-size: 1rem;
    }
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        padding: 15px;
        background-color: rgb(138 107 255);
        display: flex;
        justify-content: center;
        color: #fff;
    }
}